@import 'variables';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
body {
  background-image: url(https://www.petbackdrops.com/image/cache/catalog/supermariofinal-500x450.gif);
}
.forestCard {
  background-color: rgba(255, 250, 250, 0.53);
  border: none;
  margin: 10px;
  max-width: 200px;
  min-width: 200px;
  text-align: center;
}

.mushroomCard {
  background-color: rgba(255, 250, 250, 0);
  border: none !important;
  margin: 10px;
  max-width: 100px;
  min-width: 100px;
  text-align: center;
}
h1 {
  font-family: 'Bungee Shade', cursive;
  text-shadow: 2px 2px 8px rgb(247, 14, 14);
  font-size: 5vw;
  margin-top: 20px;
  margin-bottom: 40px;
  }
h2 {
  font-family: 'Press Start 2P', cursive ;
  text-shadow: 2px 2px 8px rgb(247, 14, 14);
  font-size: 3vw;
  margin-top: 20px;
  margin-bottom: 40px;
}
h3, h4 {
  font-size: 2vw;
  font-size-adjust: 2vw;
  font-family: 'Squada One', cursive;
  margin: 0px;
}
text, p, button {
  font-family: 'Squada One', cursive;
  margin: 0px;
}
.Basket {
  background-color: #c99c6d89; 
  border: .1rem solid white;
  box-shadow: 2px 2px 4px #000000;
}
.fit-image {
  width: 100%;
  object-fit: contain;
  height: 120px; /* only if you want fixed height */  
}