.modal, .modal-body {
  text-align: center;
}

.modal-content {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
.modal-h2{
  color: white;
}

.modal-p{
  color: white;
  font-size: 2vw;
}
.modal-img {
  height: 500px;
  width: auto;
}
.bowser {
  -webkit-animation: anim 10s infinite;
  animation: anim 10s infinite;
  height: 500px;
  width: auto;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(191, 18, 18)); filter: drop-shadow(5px 5px 5px #650e0e);
}

.magic {
  -webkit-animation: anim 10s infinite;
  animation: anim 10s infinite;
  height: 400px;
  width: auto;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(255, 255, 255)); filter: drop-shadow(5px 5px 5px #ffffff);
}

@-webkit-keyframes anim {
  from {-webkit-transform: rotateY(0deg);}
  to {-webkit-transform: rotateY(360deg);}
}

@keyframes anim {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(360deg);}
}

.deadly {
  width: 50px;
  height: auto;
}